/* biome-ignore-all lint/suspicious/noUnknownAtRules: bug https://github.com/biomejs/biome/issues/7223 */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .prose :where(table) {
    @apply block overflow-x-auto;
  }
}
