---
import Layout from './Page.astro'
type Props = {
  frontmatter: {
    title?: string
    description?: string
  }
}

const { frontmatter } = Astro.props
---

<Layout {...frontmatter}>
  <div class="container prose mt-12">
    <slot />
  </div>
</Layout>
