---
import Footer from './Footer.astro'
import { Header } from './Header.tsx'
import '@/styles/globals.css'

type Props = {
  frontmatter?: {
    title?: string
    description?: string
  }
} & {
  title?: string
  description?: string
}
const locale = Astro.currentLocale || 'de'
const currentPath = Astro.url.pathname
const { title } = Astro.props.frontmatter || Astro.props
---

<html>
  <head>
    <meta charset="utf-8" />
    <title>{title ? `Levin Keller - ${title}` : 'Levin Keller'}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="relative min-h-screen flex-col flex bg-background">
      <Header client:load locale={locale} path={currentPath} />
      <main class="flex-1">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
