---
import Layout from '@shipyard/base/layouts/Page.astro'
import { Plant } from '@shipyard/garden-planner/components/Plant'
import { getCollection } from 'astro:content'
import { flatten } from 'ramda'
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const plants = await getCollection('plants')
  return flatten(
    plants.map((entry) =>
      ['en', 'de'].map((locale) => ({
        params: { slug: entry.id, locale },
        props: { entry },
      })),
    ),
  )
}
// 2. For your template, you can get the entry directly from the prop
const { entry: plant } = Astro.props
---

<Layout>
  <div class="max-w-3xl">
    <Plant client:load plant={plant} />
  </div>
</Layout>
