---
import type { GetStaticPaths } from 'astro'
import Layout from '@shipyard/base/layouts/Page.astro'
import { PlantTable } from '@shipyard/garden-planner/components/PlantTable'
import { getCollection, getEntry } from 'astro:content'
export const getStaticPaths = (async ({ paginate }) => {
  const plants = await getCollection('plants')
  return paginate(plants, {
    pageSize: 30,
    params: {
      locale: 'de',
    },
  })
}) satisfies GetStaticPaths

const { page } = Astro.props
---

<Layout>
  <div class="mt-8">
    <PlantTable caption="Stauden" plants={page.data} />

    {page.url.prev ? <a href={page.url.prev}>Previous</a> : null}
    {page.url.next ? <a href={page.url.next}>Next</a> : null}
  </div>
</Layout>
