---
import type { GetStaticPaths } from 'astro'
import Layout from '@shipyard/base/layouts/Page.astro'
import { VegetableTable } from '@shipyard/garden-planner/components/VegetableTable'
import { getCollection } from 'astro:content'
export const getStaticPaths = (async ({ paginate }) => {
  const vegetables = await getCollection('vegetables')
  return paginate(vegetables, {
    pageSize: 30,
    params: {
      locale: 'de',
    },
  })
}) satisfies GetStaticPaths

const { page } = Astro.props
---

<Layout>
  <div class="mt-8">
    <VegetableTable caption="Pflanzen" vegetables={page.data} />

    {page.url.prev ? <a href={page.url.prev}>Previous</a> : null}
    {page.url.next ? <a href={page.url.next}>Next</a> : null}
  </div>
</Layout>
