---
export { getStaticPaths } from '@levino/shipyard-blog'
import Layout from '@levino/shipyard-blog/Layout.astro'
import { TableOfContents } from '@levino/shipyard-base/components/TableOfContents'
import { render } from 'astro:content'

const { entry } = Astro.props
const { Content, headings } = await render(entry)
---

<Layout>
  <div>
    <div class="prose mx-auto w-full px-8">
      <Content />
    </div>
    <TableOfContents links={headings} />
  </div>
</Layout>
