---
import type { GetStaticPaths } from 'astro'
import { getCollection, getEntry } from 'astro:content'
import Layout from '@shipyard/base/layouts/Page.astro'

export const getStaticPaths = (async () => {
  const beds = await getCollection('beds')
  const bedsWithPlants = await Promise.all(
    beds.map(async (bed) => {
      const plants = await Promise.all(
        bed.data.plants.map(async (plant) => {
          const plantEntry = await getEntry(plant)
          return plantEntry.data
        }),
      )
      return { ...bed, data: { ...bed.data, plants } }
    }),
  )
  return bedsWithPlants.map((bed) => ({
    params: {
      slug: bed.slug.split('/').slice(1).join('/'),
      locale: bed.slug.split('/')[0],
    },
    props: { entry: bed },
  }))
}) satisfies GetStaticPaths

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Layout>
  <Content />
  Pflanzen:
  <ul>
    {entry.data.plants.map((plant) => <li>{plant.name.latin}</li>)}
  </ul>
</Layout>
