---
import Layout from '@shipyard/base/layouts/Page.astro'
import type { GetStaticPaths } from 'astro'
import { getCollection } from 'astro:content'

const beds = await getCollection('beds')

export const getStaticPaths = (() => {
  return [
    {
      params: {
        locale: 'de',
      },
    },
    {
      params: {
        locale: 'en',
      },
    },
  ]
}) satisfies GetStaticPaths
---

<Layout>
  <div class="container mx-auto">
    <h1 class="m-4 text-center text-xl">Beete</h1>
    <ul class="list-disc">
      {
        beds.map((bed) => (
          <li>
            <a href={`beds/${bed.slug.split('/')[1]}`}>{bed.data.name}</a>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
