---
import Layout from '@layouts/Page.astro'
import Sidebar from '../[locale]/blog/_Sidebar.astro'
---

<Layout locale="de">
  <div class="lg:flex">
    <Sidebar locale="de" />
    <h1>Willkommen auf meinem Blog</h1>
  </div>
</Layout>
