---
import Layout from '@/layouts/Splash.astro'
import type { GetStaticPaths } from 'astro'
import { prop, map, groupBy, path, flatten } from 'ramda'
import { pipe } from 'fp-ts/lib/function'
import { getCollection } from 'astro:content'
import { MONTHS_DE, MONTHS_EN } from '@shipyard/base/src/types'
export const getStaticPaths = (() => {
  return [
    {
      params: {
        locale: 'de',
      },
    },
  ]
}) satisfies GetStaticPaths

const vegetables = await getCollection('vegetables').then((vegetables) =>
  vegetables.map(
    ({
      data: {
        sowing,
        name: { common: name },
      },
    }) => ({ sowing, name }),
  ),
)

const plants = await getCollection('plants', path(['data', 'toSow'])).then(
  (plants) =>
    plants.map(
      ({
        data: {
          sowingTime,
          name: { german: name },
        },
      }) => ({ sowing: sowingTime, name }),
    ),
)
const plantsBySowingMonth = pipe(
  vegetables.concat(plants),
  map(({ sowing, name }) => sowing.map((sowing) => ({ sowing, name }))),
  flatten,
  groupBy(prop('sowing')),
)
---

<Layout>
  <div class="prose">
    <ul>
      {
        MONTHS_EN.map((month, index) => (
          <li>
            <h2>{MONTHS_DE[index]}</h2>
            <ul class="list-disc">
              {plantsBySowingMonth[month]?.map(({ name }) => (
                <li>{name}</li>
              ))}
            </ul>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
