---
import Layout from '@layouts/Page.astro'
import { getCollection } from 'astro:content'
import { TableOfContents } from '@components/TableOfContents'
import Sidebar from './_Sidebar.astro'

export async function getStaticPaths() {
  const getParams = (slug: string) => {
    const [locale, ...rest] = slug.split('/')
    return {
      slug: rest.join('/'),
      locale,
    }
  }
  const blogPosts = await getCollection('blog')
  return blogPosts.map((entry) => ({
    params: getParams(entry.slug),
    props: { entry, locale: getParams(entry.slug).locale },
  }))
}
const { entry, locale } = Astro.props
const { Content, headings } = await entry.render()
---

<Layout locale={locale}>
  <div class="lg:flex">
    <Sidebar locale={locale} />
    <div class="prose px-8 w-full mx-auto">
      <Content />
    </div>
    <TableOfContents links={headings} />
  </div>
</Layout>
