---
import Layout from '@/layouts/Page.astro'
import Sidebar from '../[locale]/_Sidebar.astro'
---

<Layout>
  <div class="lg:flex">
    <Sidebar />
    <div class="prose mx-auto p-8"><h1>Willkommen auf meinem Blog</h1></div>
  </div>
</Layout>
