name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup Biome
        uses: biomejs/setup-biome@v2
        with:
          version: 2.2.3
      - name: Run Biome
        run: biome ci .
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
      - run: npm ci
      - run: npm run test --workspaces --if-present
  test-e2e:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        demo:
          - name: i18n
            workspace: demo
            path: apps/demos/i18n
          - name: single-locale
            workspace: single-locale-demo
            path: apps/demos/single-locale
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
      - run: npm ci
      - run: npm run build --workspace=${{ matrix.demo.workspace }}
      - run: npx playwright install --with-deps
        working-directory: ./${{ matrix.demo.path }}
      - name: Run E2E tests
        run: npm run test:e2e
        working-directory: ./${{ matrix.demo.path }}
